POSTGRES_DB=nutricore_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=4173

JWT_SECRET=nutricore-docker-jwt-secret-with-32-plus-characters

APP_SECURITY_BOOTSTRAP_ENABLED=true
APP_SECURITY_BOOTSTRAP_FULL_NAME=Alberto Vilar
APP_SECURITY_BOOTSTRAP_EMAIL=albertovilar1@gmail.com
APP_SECURITY_BOOTSTRAP_PASSWORD=132747
APP_SECURITY_BOOTSTRAP_ROLE=ADMIN
